@font-face {
    font-family: child;
    src: url(../../fonts/CaveatBrush-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: child;
    font-size: 100px;
    background-color: #A9b6b2;
    color: #143630;
  }

.whole{
   display: flex;
  flex-wrap: nowrap; 
  gap: 10px; 
}
.cause {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 1s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
.you {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 1.5s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
.used {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 2s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
.to {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 2.5s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
.be {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 3s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
.twenty {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 3.5s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
.something {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 4s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}
  .something::after {
  content: "...";
  display: inline-block;
  width: 0;
  overflow: hidden;
  vertical-align: bottom;
 
  animation: ellipsis ease-in 2s forwards;
  animation-delay: 4.2s;
}

@keyframes ellipsis {
  to {
    width: 1.25em; 
  }
}
.too {
  opacity: 0;
  animation: fadeInText 1.5s ease-in forwards;
  animation-delay: 5.5s;
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}

.too a{
    text-decoration: none;
    color: #143630;
}

  body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;
  margin: 0;
  }